@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #124ae6;
  --text-dark: #060674;
  --text-light: #71717a;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lora", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.section__subheader {
  color: var(--text-light);
}

/* button */
.btn {
  padding: 0.70rem 2rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
  border:none;
}

.btn:hover {
  background-color: var(--text-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Background Image */
header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2)
    ),
    url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
}


/* Navbar */
nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.nav__logo {
  flex: 1;

}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

/* Navigation Links */
.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Social Icons */
.social{
    height: 1.1rem;
    width: 1.1rem;
    cursor: pointer;
}


.link a {
  position: relative;
  padding: 10px 0;
  color: var(--white);
  transition: 0.3s;
}

.link a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--white);
  transition: 0.3s;
}

.link a:hover::after {
  width: 100%;
}

.nav__menu__btn {
  display: none;
  font-size: 1.5rem;
  color: var(--white);
}

.nav__actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.nav__actions span {
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}

.header__container {
  text-align: center;
  color: var(--white);
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 4.3rem;
  font-weight: 600;
}

.header__container p {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 4rem;
  font-size: 1.3rem;
}

.header__container form {
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 4rem;
  padding-block: 0.25rem;
  padding-inline: 1.25rem 0.25rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  border: 1px solid var(--white);
  border-radius: 5rem;
}

.header__container input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
}

.header__container input::placeholder {
  color: var(--white);
}

.header__container button {
  padding: 11px 12px;
  font-size: 1.25rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  cursor: pointer;
}

.header__container a {
  display: inline-block;
  padding: 0 12px;
  font-size: 3rem;
  color: var(--white);
  backdrop-filter: blur(10px);
  border: 1px solid var(--white);
  border-radius: 100%;
}


@media (width < 900px) {
  .nav__actions {
    display: none;
  }

}

@media (width < 600px) {
  nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: #000000;
    z-index: 99;
  }

  .nav__links {
    position: absolute;
    left: 0;
    top: 68px;
    padding: 2rem;
    width: 100%;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav__links .link a {
    opacity: 0;
  }

  .nav__links.open .link a {
    opacity: 1;
  }

  .nav__links.open {
    transform: scaleY(1);
  }

  .nav__menu__btn {
    display: block;
  }

  .header{
    height: 100vh;
  }

  .header__container h1 {
    margin-top: 9rem;
    font-size: 3rem;
  }

  .header__container p{
    font-size: 1rem;
  }
}
